#main-page {
    padding: 20px;
  }
  
  nav {
    margin-top: 20px;
  }
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
  }
  
  nav a.active {
    font-weight: bold;
    color: #007bff;
  }
  